body {
    margin: 0;
}

.over {
    width: 100%;
    max-height: 100vh;
    height: 100vh;
    background-color: #1d1d1d;
}

.over img {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin-left: auto;
    margin-right: auto;
    display: block;
    max-width: 100%;
    max-height: 90%;
}

@media screen and (max-width: 900px){
    .over {
        height: 100vh;
    }
}
@media (min-width: 992px){
    .container{
        width:100%;
        max-width:830px;
    }
}
